<h1>Retiradas</h1>

<table>
  <thead>
    <tr>
      <td>Bicicleta:</td>
      <td>Ciclista:</td>
      <td>Operador:</td>
      <td>Estado:</td>
      <td>Retirado em:</td>
    </tr>
  </thead>
  <tbody>
    <% @releases.each do |r| %>
      <tr>
        <td><%= r.bike %></td>
        <td><%= r.from_mechanical ? '---' : r.cyclist %></td>
        <td><%= r.from_mechanical ? r.cyclist : '---'  %></td>
        <td><%= r.state %></td>
        <td><%= r.formated_created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>