<h1>Baias</h1>

<table>
  <thead>
    <tr>
      <td>Posição</td>
      <td>Número</td>
      <td>Estado</td>
      <td>Sensor</td>
      <td colspan="2">Bicicleta?</td>
    </tr>
  </thead>
  <tbody>
    <%- @slots.each_with_index do |slot, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= slot.name %></td>
        <td><%= slot.state %></td>
        <td><%= slot.sensor_status %></td>
        <td><%= slot.bike %></td>
        <td><%= link_to "Deletar", slot, method: :delete, confirm: "certeza que quer deletar esta baia?" %></td>
      </tr>
    <%- end %>
  </tbody>
</table>

<%= link_to "adicionar nova baia", new_slot_path %>